@import 'nib'
@import 'lib/material-color'
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic)
@import url(http://fonts.googleapis.com/css?family=Inconsolata)

$dark-red = #370808

body
  margin 0
  background black
  color white
  font-family Roboto, sans-serif
  cursor pointer

.module-header
  background $clr-red-500
  height 48px
  line-height 48px
  padding 0 16px

.module-imports
  background $clr-red-900
  padding 16px

.module-defs
  padding 16px
  background $clr-grey-900

.module-has-error
  background $dark-red

.module-name
  color white
  font-size 20px
  font-weight 500

.module-result
  border none
  width 100%
  background white
  overflow visible

.compile-button
  float right

.tag
  height 40px
  font-size 16px
  padding 0 16px
  vertical-align center

.definition
  margin 32px 0

// .definition-header
//   height 40px

table
  border-collapse collapse

.definition-name
  color $clr-grey-900
  background-color $clr-grey-200

.definition-type
  background-color $clr-blue-600

.definition-type-inferred
  background-color $clr-grey-600

.definition-code, pre
  font-family Inconsolata, monospace
  padding 16px

pre
  margin 0

.definition-code
  background-color $clr-grey-800

textarea
  color $clr-grey-200
  border none
  overflow visible
  outline none

  -webkit-box-shadow none
  -moz-box-shadow none
  box-shadow none

  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

  width 100%

  font-size 16px

.definition-value
  color $clr-grey-900
  background-color $clr-grey-200
  padding 16px

.error
  background $clr-red-900
  color white
