@import 'nib'
@import 'lib/material-color'
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic)
@import url(http://fonts.googleapis.com/css?family=Inconsolata)

$dark-red = #370808

z-depth-1()
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)

z-depth-1-half()
  box-shadow 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)

z-depth-2()
  box-shadow 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

z-depth-3()
  box-shadow 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)

z-depth-4()
  box-shadow 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21)

z-depth-5()
  box-shadow 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22)

fade-in()
  opacity 0
  animation fade-in 0.3s linear forwards

@keyframes fade-in
  to
    opacity 1

body
  margin 0
  background black
  color white
  font-family Roboto, sans-serif
  cursor pointer
  -webkit-font-smoothing antialiased


.module-header, .project-header
  z-depth-1()
  overflow auto
  background $clr-red-500
  height 64px
  line-height 64px
  padding 0 16px
  z-index 100

.module-info-views
  overflow hidden
  background $clr-grey-200
  color $clr-grey-900
  transition max-height 0.8s

.module-info-views.hidden
  max-height 0

.module-info-views.visible
  max-height 9999px

.module-imports, .module-datatypes, .module-aliases
  padding 16px

.module-defs
  padding 16px
  background $clr-grey-900

.has-errors .module-defs
  background $dark-red

.module-name
  color white
  font-size 24px

.module-actions
  z-depth-1()
  overflow hidden
  height 64px
  line-height 48px
  padding 16px
  box-sizing border-box
  background-color $clr-grey-200

.action-buttons
  float right

.action-button
  width 24px
  height 24px
  margin 8px

.module-result
  border none
  width 100%
  background white
  overflow visible


.tag
  display inline-block
  height 40px
  line-height 40px
  font-size 16px
  padding 0 16px
  vertical-align center

.compile-button
  float right


.definition
  z-depth-1()
  fade-in()
  background-color $clr-grey-800
  margin 32px 0

.definition-name
  color $clr-grey-900
  background-color $clr-grey-200

.definition-type
  background-color $clr-blue-600

.definition-type-inferred
  background-color $clr-grey-600

.definition-code, pre, .module-code
  font-family Inconsolata, monospace
  padding 16px

pre
  margin 0

.definition-code, .module-code
  background-color $clr-grey-800

.module-code
  fade-in()

textarea
  color $clr-grey-200
  border none
  overflow visible
  outline none

  -webkit-box-shadow none
  -moz-box-shadow none
  box-shadow none

  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

  width 100%

  font-size 16px

.definition-value
  fade-in()
  color $clr-grey-900
  background-color $clr-grey-200
  padding 16px


.error
  background $clr-red-900
  color white


.import
  display inline

.import-row
  padding 16px

.import-name
  z-depth-1()
  padding 10px
  background-color white
  color $clr-grey-900

.import-alias
  z-depth-1()
  padding 10px
  background-color $clr-blue-600
  color white

.import-exposing
  z-depth-1()
  padding 10px
  background-color white
  color $clr-grey-900

.import-remove-button
  padding 10px
  display inline

.import-add-button
  padding 10px


.datatype
  z-depth-1()
  div
    padding 5px
  span
    padding 5px
  border-collapse collapse

.datatype-lhs
  background-color white

.datatype-constructors
  background-color $clr-blue-500
  color white

.datatype-constructor
  border-bottom 1px solid $clr-blue-600

.alias
  z-depth-1()
  padding 10px 0

.alias-name, .alias-type
  padding 10px

.alias-name
  background-color white
  color $clr-grey-900

.alias-type
  color white
  background-color $clr-blue-500


.list-element
  z-depth-1()
  display inline-block
  padding 10px
  margin 10px


.dict-item
  z-depth-1()
  margin 10px
  display inline-block

.dict-value
  display inline-block
  padding 10px 10px 10px 20px // for arrow

.dict-key
  display inline-block
  padding 10px
  position relative
  background-color $clr-blue-600
  color white
  &:after
    left 100%
    top 50%
    border solid transparent
    content " "
    height 0
    width 0
    position absolute
    pointer-events none
    border-left-color $clr-blue-600
    border-width 10px
    margin-top -10px

.project-module
  padding 16px
  background-color $clr-grey-200
  border-bottom 1px solid darken($clr-grey-200, 3)

.project-module-link
  color $clr-grey-900
  text-decoration none
.project-module-link:visited
    color $clr-grey-900
    text-decoration none
